
  @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Lora&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
font-family: 'Lora', serif;
	animation: bg-pan-top 8s both;
}
@keyframes bg-pan-top {
  0% {
    background-position: 50% 100%;
    background-color: #3badcf;
}
100% {
    background-position: 50% 0%;
    background-color: #A6D0DD;
  }
}
.container{
            width: 50%;
            margin: 50px auto;
padding: 30px;  
          box-shadow: 0px 5px 10px gray;
          text-align: center;
 background-color: #FF6969;
 color: #FFF9DE;
 border-radius: 20px;
        }
        .search-container{
margin: 20px auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        input{
padding: 10px;
font-size: 20px;
        }
        input:focus{
            outline:2px solid #3badcf;
        }
        button{
            background: #3badcf;
            border: none;
            padding: 12px;
            font-size: 18px;
            color: #FFF9DE;
            cursor: pointer;
        }
        h4{
            font-size: 28px;
            font-family: 'Caveat', cursive;
            
        }
        h5{
            font-size: 25px;
            font-family: 'Caveat', cursive;
        }
        .container-detail{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 20px;
            font-size: 30px;
        }
        .container-detail p{
            width: 30%;
            padding: 10px;
            border-radius: 10px;
            border: 2px solid #3badcf;
        }
        img{
            width: 15%;
        }
        
        /* responsive */
        @media (max-width:1148px) {
            .container{
                width: 70%;
            }
            .container-detail{
                font-size: 20px;
            }
            .container-detail p{
                width: 30%;
            }
            img{
                width: 20%;
            }
        }
        @media (max-width:676px) {
         .container{
            width: 90%;
         }   
         input{
             font-size: 18px;
         }
         button{
            font-size: 18px;
         }
         img{
            width: 30%;
         }
        }
        @media (max-width:510px) {
       .search-container{
        flex-direction: column;
       }
       input{
        margin-bottom: 10px;
       }
       img{
        width: 40%;
       }
       .container-detail{
        flex-direction: column;
       }
       .container-detail p{
        margin-bottom: 10px;
    width: 50%;   
    }
        }