.nav{
    padding: 20px;
    font-size: 20px;
}
.part1 h4{
    font-weight: 800;
    font-size: 1.6vw;
margin-right: 3vw;
}
.part1 h4 i{
    font-size: 1.7vw;
}
.part1 h5{
    margin-left: 1.4vw;
    color: rgba(0, 0, 0, 0.616);
}
.part2 h6,.part2 h6 i{
    margin-right: 1.4vw;
    font-size: 1vw;
}
.nav2{
    border: 1px solid #000;
    overflow: hidden;
}
.nav2 h6{
font-size: 1.2vw;
}
.nav2 .centernav h6{
    margin-right: 3vw;
    font-size: 1vw;
    color: rgb(83, 83, 83);
}
.page1 .images{
    position: relative;
    top: -300px;
}
.page1 .text{
    font-size: 3vw;
    text-align: center;
    margin-top: 20vh;
}
.images img{
    width: 20%;
}

.page1 .images img:nth-child(1){
        position: absolute;
    top: 30%;
    left: 0%;
}
.page1 .images img:nth-child(2){
        position: absolute;
    top: 290px;
    left: 20%;
}
.page1 .images img:nth-child(3){
        position: absolute;
        top: 300px;
    right: 25%;
}
.page1 .images img:nth-child(4){
        position: absolute;
    right: 0%;
}
.arrow{
    position:relative;
    top: 90px;
    left: 50%;
transform: translate(0%,-50%);
    width: max-content;
border: 1px solid #000;
padding: 1vw 0.5vw;
border-radius: 20px;
box-shadow: 1px 5px 5px gray;
}
.arrow i{
    font-weight: 900;
    font-size: 1.3vw;
}