:root{
    --most:#A7727D;
    --ml:#EDDBC7;
    --mll:#F8EAD8;
    --l:#F9F5E7;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: var(--l);
}
video{
width: 100%;
    opacity: 0.8;
    z-index: -1;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    text-align: center;
 background: white;
    z-index: 1;
}
img{
    width: 50%;
}
.clock{
    border-bottom: 2px solid var(--most);
    width: 50%;
    margin: auto;
    font-size: 2rem;
    margin-bottom: 10px;
}
select{
    border: 2px solid;
    width: 30%;
outline: none;
border: none;
padding: 5px;
font-size: 1.2rem;
box-shadow: black 0px 0px 5px inset;
}
.btns{
    display: block;
margin-top: 10px;
}
.btns button{
    cursor: pointer;
    padding: 5px;
font-size: 1.2rem;
}

/* CSS */
.btn {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
   height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}
.btn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
ol{
    margin-top: 30px;
}
ol li{
    list-style: none;
}
.overlay{
    display: none;
    z-index: -5;
}
.overlay.show{
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    background: rgba(0, 0, 0, 0.377);
z-index: 5;
}
.modal{
width: 0%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background: var(--mll);
font-size:2rem;
overflow: hidden;
transition: all 0.5s;
}
.modal.open{
    width: 50%;
    padding: 30px;
}
.modal .btn{
    width: 10%;
    font-size: 1.5rem;
display: flex;
margin-top: 20px;
}
