*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ececec;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 30em;
    list-style: none;
margin: 0 auto;
color: #777;
}
.bars h4{
font-weight: 400;
display: inline-block;
margin: 0.3em;
}
.bars li{
    margin: 1.2em 0;
}
.bars .bar{
    background: #ececec;
    display: block;
    border: 1px solid 8px #ececec;
    border-radius: 1em;
    overflow: hidden;
    height: 1.8em;
    box-shadow: -6px -6px 7px rgba(255,255,255,0.5),
    7px 7px 7px rgba(70,70,70,0.12),
    inset -6px -6px 7px rgba(255,255,255,0.5),
    inset 7px 7px 7px rgba(70,70,70,0.12);
position: relative;
box-sizing: border-box;
}
.bars .prog{
    height: 100%;
    float: left;
    transition: 1s;
    position: absolute;
    top: 50%;
    left: 0;
transform: translate(-50%);
margin: 0 0.3em;
border-radius: 1em;
animation: fill 1s ease-in;
}

.bars li:nth-child(1) .prog{
width: 100%;
background: linear-gradient(90deg,#ffaf75 0%,#ff720d 100%);
top: 0;
left: 49%;
}
.bars li:nth-child(2) .prog{
    width: 100%;
    background: linear-gradient(90deg,#ffaf75 0%,#ff720d 100%);
    top: 0;
    left: 40%;
}
.bars li:nth-child(3) .prog{
    width: 100%;
    background: linear-gradient(90deg,#ffaf75 0%,#ff720d 100%);
    top: 0;
    left: 30%;
}
.bars li:nth-child(4) .prog{
    width: 100%;
    background: linear-gradient(90deg,#ffaf75 0%,#ff720d 100%);
    top: 0;
    left: 20%;
  }
.bars li:nth-child(5) .prog{
    width: 100%;
    background: linear-gradient(90deg,#ffaf75 0%,#ff720d 100%);
    top: 0;
    left: 40%;
  }
  @keyframes fill {
    0%{
        width: 0%;
    }
  }
