*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: lightblue;
}
.box{
    position: relative;
    width: 300px;
}
.box .inputBox{
    position: relative;
    width: 100%;
    background: white;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 15px 25px gray;
}
.box .inputBox input{
    position: relative;
    width: 100%;
    outline:none;
    border:none;
    padding:10px 5px
}
.box .inputBox #toggleBtn{
    position: absolute;
    top: 8px;
    right: 10px;
    width: 34px;
    height:34px;
background: gray;
border-radius: 50%;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
}
.box .inputBox #toggleBtn i:nth-last-child(2){
display: none;
}
.box .inputBox #toggleBtn.active i:nth-last-child(1){
    display: none;   
}
.box .inputBox #toggleBtn.active i:nth-last-child(2){
    display: flex;   
}
.validation{
    background: rgb(82, 82, 156);
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 15px 25px gray;
}
.validation ul{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8;
}
.validation ul li{
    position: relative;
    list-style: none;
    color: white;
    font-size: 1.5em;
}
.validation ul li::before{
content: '\f0c8';
width: 20px;
margin:10px 10px;
height: 10px;
font-family: fontAwesome;
display: inline-block;

}
ul li.show::before{
content: '\f14a';
width: 20px;
height: 10px;
font-family: fontAwesome;
display: inline-block;
}










