#buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  margin: 10px auto;
}
button {
  width: 20%;
  height: 40px;
  margin: 10px;
  font-size: 20px;
  font-weight: bolder;
}
