@import url("../../Var.css");

.container {
  position: relative;
  padding: 73px;
  max-width: 2000px;
  width: 95%;
  margin: auto;
  background-color: rgba(12, 12, 12, 0.6);
  z-index: 1;
}

.content {
  display: flex;
  align-items: flex-start;
}
.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}
.aboutImage {
  width: 35%;
}
.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: all 0.4s;
}
.aboutItem:hover {
  background-size: 100% 100%;
}
.aboutItem h3 {
  font-size: 25px;
  font-weight: 600;
}
.aboutItem p {
  font-size: 25px;
}
@media screen and (max-width: 993px) {
  .aboutImage {
    width: 70%;
  }
  .content {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 830px) {
  .aboutImage {
    width: 90%;
  }
  .container {
    position: relative;
    padding: 73px 10px;
  }
  .title {
    padding-left: 70px;
  }
}
