@import "../../css-config/mixins.scss";
.programs-section {
  @include md {
    margin-top: 110px;
  }
  @include sm {
    margin-top: 20rem;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
    @include md {
      padding: 0;
    }
    .programs-header {
      display: flex;
      gap: 1rem;
      font-weight: bold;
      margin: auto;
      color: white;
      text-transform: uppercase;
      font-style: italic;
      @include lg {
        flex-direction: column;
      }
      span {
        font-size: 3rem;
        @include lg {
          font-size: 2rem;
        }
        @include lg {
          font-size: 2.4rem;
        }
      }
    }
    .programs-categories {
      display: flex;
      flex-wrap: wrap;
      .category {
        display: flex;
        align-items: start;
        flex-direction: column;
        flex: 1;
        font-size: 1.2rem;
        background: gray;
        margin-left: 20px;
        padding: 2rem;
        color: white;
        transition: all 0.3s;
        cursor: pointer;
        @include lg {
          flex: content;
          margin-bottom: 20px;
          margin-left: 0;
        }
        &:hover {
          background: var(--planCard);
        }
        svg {
          fill: white;
          width: 3rem;
          height: 3rem;
        }
        .button {
          display: flex;
          align-items: center;
          gap: 1rem;
          .program-btn {
            background: none;
            border: none;
            color: white;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
