.container{
    position: relative;
    max-width: 50%;
    margin: auto;

}
[class^='slide-']{
    display: none;
}
img{
    width: 100%;
}
.carosal-dots{
display: flex;
width: 10%;
margin: auto;
justify-content: space-between;
}
.carosal-dots div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #000;
}
.carosal-dots .dot.active{
   background: #000;
}