@import "../../css-config/mixins.scss";
h1 {
  font-size: 30px;
  margin-bottom: 20px;
  &::after {
    content: "";
    display: block;
    margin-top: 5px;
    width: 50px;
    height: 5px;
    background-color: #8e2de2;
  }
}
.blog-container {
  width: 100%;
  padding: 40px 20px;
  color: #212121;

  .blog-content {
    width: 90%;
    max-width: 1700px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 20px;
    display: flex;
    @include lg {
      flex-direction: column;
    }
    @include md {
      overflow: hidden;
    }
    .left {
      width: 100%;
    }
    .right {
      width: 30%;
      @include lg {
        width: 100%;
        display: flex;
      }
      img {
        width: 100%;
        cursor: pointer;
        @include lg {
          width: 40%;
        }
      }
      button {
        display: none;
      }
      h1 {
        font-size: 25px;
        cursor: pointer;
        &::after {
          width: 0;
        }
      }
    }
    img {
      width: 50%;
      @include md {
        width: 100%;
      }
    }
    p {
      line-height: 40px;
      width: 90%;
      @include lg {
        width: 100%;
      }
    }
  }
}
