* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.header {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(image/lisbon-3.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  max-width: 90px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav-links ul li::after {
  content: " ";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box {
  font-size: 1.2rem;
  line-height: 30px;
  width: 70%;
}
.text-box h1 {
  font-size: 3rem;
  margin-bottom: 25px;
  word-spacing: 6px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.head-btn {
  margin-top: 25px;
  text-decoration: none;
  color: white;
  display: inline-block;
  border: 1px solid white;
  padding: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.head-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}
/* courses */
#course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
#course h1 {
  font-size: 36px;
  font-weight: 600;
}
#course p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-col {
  flex-basis: 31%;
  background: #fae0e0;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  transition: 0.5s;
}
.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
/* campus */
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.campus-colom {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.campus-colom img {
  width: 100%;
  display: block;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: 26px;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}
/* facalities */
.facalities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.facalities-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.facalities-col img {
  width: 100%;
  height: 70vh;
  border-radius: 10px;
}
.facalities-col p {
  padding: 0;
}
.facalities-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}
/* testimonial */
.testimonial {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
.testimonial-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  background: #fae0e0;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.testimonial-col img {
  height: 90px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.testimonial-col h3 {
  margin-top: 15px;
  text-align: left;
}
.fa-star:before {
  content: "\f005";
  color: red;
  font-size: 20px;
}
.fa-star-half-alt:before {
  content: "\f5c0";
  color: red;
  font-size: 20px;
}
/* call to action */
.CTA {
  width: 80%;
  margin: 100px auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
    url(image/cover.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.CTA h1 {
  color: white;
  margin-bottom: 40px;
  padding: 0;
}
/* footer */
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0px;
}
.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}
.icons .fas {
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.fa-heart {
  color: #f44336;
}

/* responsivenes */
@media (max-width: 700px) {
  .text-box h1 {
    word-spacing: 0%;
    font-size: 2rem;
    line-height: 30px;
  }
  .text-box {
    font-size: 1rem;
    line-height: 22px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    padding: 90px 50px;
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .closing {
    width: 50%;
    height: 2px;
    background: rgb(255, 255, 255);
    margin-bottom: 7px;
  }
  .iconBar {
    position: absolute;
    top: 4%;
    /* right: 4%; */
    right: 100%;
    width: 17%;
    z-index: 3;
  }
  .icon {
    position: absolute;
    top: 10%;
    right: 100%;
    width: 17%;
    z-index: 3;
    display: none;
  }
  .icon div {
    width: 20px;
    margin-bottom: 10px;
    background: white;
    height: 2px;
  }
  .icon .closing1 {
    transform: rotate(39deg);
    transition: 2s;
  }
  .icon .closing2 {
    transform: rotate(140deg);
    position: absolute;
    top: 0px;
    transition: 2s;
  }
  .row {
    flex-direction: column;
  }
  .testimonial-col img {
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 10%;
  }
  .CTA h1 {
    font-size: 24px;
  }
}
