section#experience{
padding-top: 0rem;
}
.experence_container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 80%;
   margin: auto;
}
.experinece_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}
.experence_container>div{
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
width: 45%;
    transition: var(--transition);

}
.experence_container>div:hover{
    background: transparent;
border: 1px solid var(--color-bg-variant);
cursor: default;
}
.experence_container>div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}
.experence_container .experience_details  {
    display: flex;
    gap: 20px;
    align-items: top;
justify-content: center;
}
.experence_icon{
    color: var(--color-primary);
margin-top: 5px;
}
/* responsiveness */
@media screen and (max-width:1102px) {
.experence_container{
    width: 80%;
    
}
.experence_container>div{
    padding: 2.4rem 3rem;
    margin-left: 1rem;
}
   
}
@media screen and (max-width:889px) {
.experence_container{
width: 95%;
}
}
@media screen and (max-width:779px) {
.experence_container{
width: 100%;
}
}
@media screen and (max-width:600px) {
 .experence_container{
    flex-direction: column;
 }
 .experence_container>div{
   width: 80%;
   margin: 1rem auto;
 }
}
@media screen and (max-width:425px) {
    .experence_container>div{
      width: 90%;
    }
}
@media screen and (max-width:320px) {
    .experence_container>div{
      width: 96%;
    }
    .experinece_content{
      grid-template-columns: 1fr;
    }
}