:root{
    --color1:#252b486e;
    --color2:#445069;
    --color3:#3a6158;
    --color4:#ffffff;
    
    --bg1:#15112b;
    
    --color1-light:#252b4854;
    --color1-lighter:#252b482a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bg1);
    width: 100%;
    height: 100%;
}
.main{
    display: flex;
    width: 80%;
    height: 90%;
    margin: 30px auto;
    overflow: hidden;
}
.navi{
    position: absolute;
    top:10%;
    left: 10%;
    width: 30%;
    height: 90px;
    z-index: 3;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color4);
}
.navi img{
    background: transparent;
    width: 50%;
    animation: animi 10s linear 0.3s infinite reverse both;
}
@keyframes animi {
    0%{
        transform: rotate(0deg);
    } 
    100%{
        transform: rotate(360deg);

    }
}
.navi h5{
    background: transparent;
    font-size: 30px;
}
.part-1{
    height: 100%;
    width: 15%;
    background: var(--color1);
}
.part-2{
    height: 100%;
    width: 70%;
    background:linear-gradient(50deg,var(--color1),var(--color1-lighter)), url(../images/slide2.jpg)center no-repeat;
    background-size: cover;
}
.part-3{
    width: 15%;
    height: 100%;
    background: var(--color3);
position: relative;
}

.part-3 .text{
    height: auto;
    position: absolute;
    width: 400px;
    color: var(--color4);
    right: 100%;
    top: 50%;
    transform: translate(-150%,-50%);
    background: #00000000;
}
.text>h1{
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 10px;
    background:transparent;
    user-select: none;
}
.part-3 .small-img {
    height: 400px;
    width: 300px;
    position: absolute;
    top: 50%;
    right: 60%;
    transform: translate(-10%, -50%);
    background: linear-gradient(var(--color1-lighter),var(--color1-light)), url(../images/slide3.jpg) center no-repeat;
    background-size: cover;
    z-index: 1;
    transition: all 0.3s ease;
}

.part-3 .small-img:hover {
    height: 350px;
    width: 250px;
    transform: translate(-20%, -50%) scale(1.1);
}

.part-3 .vertical-text{
    position: absolute;
    right: -30%;
    top: 10%;
    transform-origin: 0% 0%;
    transform: rotate(90deg);
   background: transparent;
   z-index: 2;
}
.vertical-text h1{
    color: transparent;
    user-select: none;
    font-size: 60px;
    -webkit-text-stroke: var(--color4);
    -webkit-text-stroke-width: 1px;
    letter-spacing: 6px;
    background: transparent;
}

/* Responsiveness */
@media (max-width:1496px) {
    .part-3 .text{
        right: 60%;
    }
}
@media (max-width:1400px) {
    .part-3 .text{
        right: 0%;
    }
}
@media (max-width:1260px) {
    .part-3 .text{
        right: 200%;
        transform: translate(-50%,-50%);
    }
.part-3 .vertical-text{
    right: -37%;
}
}
@media (max-width:1088px) {
    .main{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .navi{
        left: 0;
        width: 40%;
    }
    .part-3 .text{
        right: 270%;
    }
}
@media (max-width:1036px) {
    .part-3 .text{
        right: 220%;
    }
}
@media (max-width:905px) {
    .part-3 .text{
        right: 180%;
    }
  
}
@media (max-width:841px) {
    .part-3 .text{
        right: 140%;
    }
}
@media (max-width:780px) {
    .main{
        flex-direction: column;
    }
    .navi{
        width: 100%;
    }
    .part-1,.part-2,.part-3{
        width: 100%;
    }
    .part-1{
        height: 70%;
    }
    .part-2{
        height: 100%;
    }
    .part-3 .text {
        height: auto;
        position: absolute;
        width: 400px;
        right: 10%;
        top: -50%;
    
    }
    .part-3 .small-img{
        height: 300px;
        width: 200px;
        top: -50%;
        right: 2%;
    }
    .part-3 .vertical-text{
        top: -120%;
        right: -99%;
    }
    .part-3 .vertical-text h1{
    font-size: 35px;

}
}
@media (max-width:672px) {

    .navi h5{
        font-size: 50px;
    }

    .part-3 .text {
        width: 400px;
        right: 0%;
        top: -50%;
    
    }
    .part-3 .small-img{
        height: 230px;
        width: 150px;
    }
    .part-3 .text h1{
        font-size: 40px;

    }
}
@media (max-width:600px) {
    .part-3 .text {
        width: 400px;
        right: -10%;
        top: -50%;
    }

}
@media (max-width:550px) {
    .part-3 .text{
        right: -30%;
    }
    .part-3 .small-img {
        position: relative;
        top: 116px;
        height: 100%;
        width: 120%;
    }
  
.part-3 .small-img:hover {
    height: 350px;
    width: 120%;
    transform: translate(0) scale(0);
}
.part-3 .vertical-text{
    top: -110%;

}
.part-3 .vertical-text h1{
    font-size: 40px;
}

}
@media (max-width:470px) {
    .part-3 .text{
        right: -60%;
    }
    .part-3 .text h1{
        font-size: 35px;
    }
    .navi{
        top: 6%;
    }
    .navi h5{
        margin-top: 50px;
      font-size: 35px;
    }
}
@media (max-width:390px) {
    .part-3 .text{
        right: -70%;
    }
}
@media (max-width:356px) {
    .part-3 .text{
        right: -80%;
    }
    .part-3 .vertical-text h1{
        font-size: 30px;
    }
    
}
@media (max-width:334px) {
    .part-3 .text{
        right: -86%;
}
}
@media (max-width:324px) {
    .part-3 .text{
        right: -110%;
}
.part-3 .text h1{
    font-size: 30px;
}
.part-3 .vertical-text h1{
    position: relative;
    font-size: 25px;
    top: 15%;
    left: 92%;
    transform: rotate(270deg)
}}

.line{
    background: transparent;
}
.line .word{
    display: flex !important;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: transparent;
}
.char{
    background: transparent;
    transform: translateY(-350px);
    transition: transform .5s;
    width: 13%;
}
.line{
    width: 90% !important;
}
.vertical-text h1{
transition:transform 0.5s;
}
.vertical-text h1:hover{
    transform:scale(1.1);
}
