:root{
    --color1:#ca7e8b;
    --color1dark:rgb(214, 115, 132);
    --color2:#e8a2ac;
    --color3:#fff;
    --color4:rgb(100, 99, 99);
    --color5:#0000005b;
    --linearGeadiant1:#da9f9557;
    --linearGeadiant2:#ffffffc9;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: radial-gradient(var(--linearGeadiant1),var(--linearGeadiant2));
}
i{
    margin: 5px;
}
.fa-bars{
    z-index: 4;
}
.overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
background: var(--color5);
}
.overlay.hide{
    display: none;
}
.orange{
    color: var(--color1);
}
/* header {
    background: radial-gradient(var(--linearGeadiant1),var(--linearGeadiant2));
} */
.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px;
}
nav{
    display: flex;
}
nav li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
.navbar{
    z-index: 7;
}
a,p{
  color: #555;
  text-decoration: none;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding: 0 25px;
    z-index: 3;
    position: relative;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{ 
    min-width: 100px;
    width: 100%;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: var(--color1);
    color: var(--color3);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: all 0.8s;
}
.btn:hover{
    background: var(--color2);
}
.leftImg{
    position: absolute;
    top: 100%;
    z-index: 1;
    left: -7%;
}
.leftImg img{
    width: 50%;
}
/* features */
.categories{
margin: 70px 0;
/* position: relative; */
z-index: 3;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
}
.small-container h1{
    text-align: center;
    margin: 3rem auto;
    width: 90%;
}
.semi-container{
    max-width: 1300px;
    width: 90%;
    margin: auto;
}
.semi-container h1{
    text-align: center;
    margin: 40px auto;
    position: relative;
}
.semi-container h1::before{
content: '';
width: 8%;
height: 4px;
background: var(--color1);
position: absolute;
top: 120%;
left: 45%;
transform: translate(0%,-50%);
border-radius: 10px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.col-4:hover{
    transform: translateY(-10px);
}
.offer{
    margin: 50px 0;
    background: var(--color1);
    padding: 50px 0;
}
.offer .col-2 p{
    color: var(--color3);
}
.offer img{
    width: 50%;
}
.col-2.offer-img{
    padding: 30px;
}
.col-2 small{
    color: var(--color3);
}
.offer .btn{
    border: 2px solid var(--color3);
}
.offer .btn:hover{
    background: var(--color1dark);
}
.testimonial{
    margin-top: 90px;
}
.testimonial .row{
    margin-top: 90px;
}
.testimonial .col-3 img.quote{
    width: 20%;
}
.testimonial .col-3 img{
    margin-top: 2rem;
    width: 30%;
    margin-bottom: 20px;
    border-radius: 50%;
}
.testimonial .col-3{
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0, 0, 0.1);
    transition: all 0.5s;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.grey{
    color: var(--color4);
}
.payment{
    margin: 80px auto;
}
.payment .row img{
   width: 70%;
   filter: grayscale(100);
   cursor: pointer;
   transition: all 0.5s;
}
.payment .row img:hover{
   filter: grayscale(0);
}
footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    margin-top: 100px;
}
footer p{
    color: #8a8a8a;

}
footer h3{
    color: white;
    margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1 img{
    width: 30%;
    margin: 10px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 18%;
    margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.semi-container .copyright{
border-top: 2px solid var(--color3);
padding-top: 1rem;
color: var(--color3);
}
.menu-icon,.menu-close.hide{
    width: 28px;
    margin-left: 20px;
    display: none;
    position: absolute;
}
.fa-bars.hide{
    display: none;
}
img{
    z-index: 3;
}
@media only screen and (max-width:800px){
    .semi-container,.small-container{
        width: 90%;
    }
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: var(--color1);
        width: 100%;
        overflow: hidden;
        height: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        line-height: 30px;
        z-index: 7;
        transition: all 0.5s;
    }
    .navbar{
position: relative;
z-index: 10;
    }
    nav ul li a{
        color: var(--color3);
        font-size: 1.3rem;
        letter-spacing: 2px;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
        z-index: 8;
        margin-left: 40px;
    }
    nav ul.show{
        height: 50%;
        z-index: 6;
        position: fixed;
    }
    .col-3 img{
        width: 85%;
    }
.col-4{
    min-width: 40%;
}
.testimonial .col-3{
    min-width: 45%;
}
.payment .row{
    width: 80%;
    margin: auto;
}
.payment .row .col-5{
    flex-basis: 30%;
    margin: 20px auto;
}
}
@media only screen and (max-width:638px){
.col-2{
    flex-basis: 80%;
}
.col-3{
    flex-basis: 50%;
}
.col-4{
    min-width: 50%;
    margin-bottom: 0;
}
.testimonial .col-3 {
    min-width: 70%;
}
}
@media only screen and (max-width:380px){
.col-2{
    flex-basis: 90%;
}
.col-3{
    flex-basis: 80%;
}
.col-4{
    min-width: 90%;
}
.testimonial .col-3 {
    min-width: 90%;
}
.payment{
    margin: 0;
}
.payment .row .col-5{
    flex-basis: 50%;
}
footer{
    margin-top: 0;
}
footer .footer-col-1,
footer .footer-col-2,
footer .footer-col-3{
    flex: 1;
}
}