@import "../../css-config/mixins.scss";
.plans-section {
  padding-top: 40px;
  width: 100%;
  height: 100%;

  .blur {
    background: var(--planCard);
    width: 20%;
    height: 40%;
    border-radius: 50%;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    position: absolute;
    top: 5%;
    left: 10%;
    z-index: -1;
    &:nth-child(2) {
      top: 70%;
      left: 70%;
    }
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .sub-heading {
      font-size: 3.5rem;
      color: var(--lightgray);
      letter-spacing: 5px;
      .stroke-text {
        font-size: 3.6rem;
      }
    }
    .plans-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      width: 70%;
      @include xl {
        width: 100%;
      }
      @include md {
        flex-direction: column;
      }
      .plan-card {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        border-radius: 5px;
        gap: 20px;
        font-size: 19px;
        width: 23%;
        height: 35rem;
        padding: 40px;
        background: var(--caloryCard);
        color: white;
        @include md {
          width: 60%;
        }
        @include sm {
          width: 80%;
        }
        &:nth-child(2) {
          height: 39rem;
          background: var(--planCard);
          .btn {
            color: var(--orange);
          }
          svg {
            fill: white;
          }
        }
        .name {
          font-size: 20px;
          font-weight: 600;
          margin: 10px 0;
        }
        .price {
          font-size: 50px;
          font-weight: 600;
          letter-spacing: 2px;
          margin: 10px 0 10px;
        }
        svg {
          fill: var(--orange);
          width: 60px;
          height: 40px;
        }
        .features {
          margin: 20px 0;
          .feature {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;
            margin-bottom: 20px;
            img {
              width: 25px;
            }
          }
        }
        .explore {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          margin-bottom: 20px;
          cursor: pointer;
          svg {
            fill: white;
            width: 20px;
            transition: transform 0.3s;
          }
          &:hover svg {
            transform: translateX(5px);
          }
        }
        .btn {
          width: 80%;
          text-align: center;
          border: none;
          background: white;
          cursor: pointer;
          color: #000;
        }
      }
    }
  }
}
