:root{
    --hero-1:rgb(185,225,237);
    --hero-2:rgb(242,138,139);
    
    --hero1:rgb(253,253,245);
    --hero1-1:rgb(177, 177, 177);
    --hero2:rgb(222,104,50);
    --hero3:rgb(17,71,109);
    --hero3-1:rgb(7, 45, 73);

    --text-white:white;
    --text-black:black;
    
    --white:white;
    --black:black;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    position: relative;
    background-color: var(--hero1);
width: 100%;
height: 100vh;
}
.max-width{
    width: 90%;
    display: block;
    margin: auto;
    max-width: 1300px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-col{
    flex-direction: column;
}
.text-space{
    letter-spacing: 0.5vw;
    font-size: 35px;
    font-weight: bold;
}
.btn{
    padding: 0.5vw 1.2vw;
    font-size: 10px;
    border: none;
    cursor: pointer;
    border-radius: 2vw;
color: var(--text-white);
background: var(--hero2);
text-transform: uppercase;
}
.blue{
    color: var(--hero3);
    font-weight: bolder;
    font-size: 40px;
text-transform: uppercase;
}
.blue_small{
    color: var(--hero3-1);
    font-size: 30px;
    text-transform: capitalize;
}
.white{
    color: var(--text-white);
    font-weight: bolder;
    font-size: 30px;
text-transform: uppercase;
}
.white_small{
    color: var(--text-white);
    font-size: 25px;
    text-transform: capitalize;
}
.orange{
    color: var(--hero2);
    text-transform: uppercase;
    font-size: 25px;
}
.para{
    color: var(--hero3-1);
    font-size: 20px;
}
.ruler{
    width: 20%;
    height: 0.3vw;
    border-radius: 50%;
    background:var(--hero2);
margin:0.5vw auto;
}
.grid-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4vw;
    overflow: hidden;
}
