/* <!-- ++++++++++++++++++hero section++++++++++++++++ --> */
.hero {
  position: relative;
}
.hero_navigation {
  padding: 1.6vw;
  justify-content: space-between;
}
.hero_navigation_nav {
  justify-content: space-between;
}
.hero_navigation_logo p {
  color: var(--hero3-1);
}
.hero_navigation_nav ul {
  list-style: none;
}
.hero_navigation_nav ul li {
  margin-right: 3vw;
}
.hero_navigation_nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: var(--text-black);
}
.hero_navigation .btn {
  padding: 10px 20px;
  border-radius: 1vw;
  font-size: 16px;
}
.purpose-flex {
  display: flex;
  height: 100%;
}
.hero_text {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-30%, -50%);
  z-index: 2;
  order: 2;
}
.hero_image {
  width: 40%;
  order: 1;
}
.hero_image img {
  width: 100%;
}
/* <!-- ++++++++++++++++++work overview section++++++++++++++++ --> */
.work {
  padding-bottom: 10px;
  height: 100vh;
}

.work-grid-temp {
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.281),
    -5px 20px 10px rgba(0, 0, 0, 0.281);
  background: var(--hero1);
  width: 80%;
  padding: 2rem 1rem;
  z-index: 5;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.box img {
  width: 60%;
  height: 60%;
}
.work .btn {
  padding: 15px 25px;
  display: block;
  margin: 10px auto;
  font-size: 18px;
}
/* <!-- ++++++++++++++++++plan and pricing section++++++++++++++++ --> */
.pricing {
  height: auto;
  background-color: var(--hero3);
  z-index: 3;
  height: 550px;
}
.blue-full {
  background-color: var(--hero3);
  position: absolute;
  top: -200px;
  width: 100%;
}
.pricing_text {
  padding-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.pricing_text .ruler {
  width: 60%;
  background: var(--hero3-1);
  border: none;
  border-radius: 0;
}
.pricing .grid-3 {
  padding-bottom: 40px;
}
.pricing .grid-3 .box {
  z-index: 2;
  font-size: 25px;
  background: var(--white);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452),
    -5px -5px 10px rgba(0, 0, 0, 0.356);
  transition: z-index 0.3s, transform 0.6s;
  line-height: 25px;
  padding-bottom: 30px;
}
.grid-3 .box p .blue_small {
  font-size: 1vw;
}
.grid-3 .pricing_box1:hover,
.grid-3 .pricing_box3:hover {
  z-index: 4;
  transform: scale(1.01);
}
.grid-3 .pricing_box2 {
  z-index: 5;
}
.grid-3 .box img {
  margin-top: -30px;
}

/* <!-- ++++++++++++++++++last section++++++++++++++++ --> */
.last {
  background: var(--hero2);
  padding: 20px;
  position: relative;
  height: 450px;
}
.last img {
  transform: rotateY(190deg);
  position: absolute;
  top: 0px;
  left: 15%;
  z-index: 3;
  width: 20%;
}

.last .last_text {
  padding: 3rem;
  border-radius: 2rem;
  background: var(--hero1);
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  line-height: 30px;
}
.last .last_text .btn {
  align-self: flex-start;
  padding: 0.8vw 2.3vw;
}

/* <!-- ++++++++++++++++++footer section++++++++++++++++ --> */
footer {
  color: var(--hero1);
  background: var(--hero3);
  position: relative;
}
footer .flex {
  justify-content: space-between;
}
footer .flex .footer_text {
  width: 30%;
  justify-content: space-between;
}
.footer_icons {
  justify-content: space-between;
  width: 10%;
}
.footer_icons img {
  width: 20px;
  color: red;
  cursor: pointer;
}
.d-none {
  display: none;
}
@media (max-width: 1124px) {
  .work {
    height: 50vh;
  }
  .blue {
    font-size: 35px;
  }
  .blue_small {
    font-size: 30px;
  }
  .blue-full {
    top: 70px;
  }
  .last img {
    width: 15%;
    left: 10%;
    top: 40%;
  }
  .last .last_text {
    top: 70%;
    width: 60%;
  }
}

@media (max-width: 768px) {
  .fa-solid.d-none {
    display: block;
  }
  .hero_navigation_nav {
    flex-direction: column;
    position: absolute;
    top: 10%;
    width: 90%;
    height: 0;
    overflow: hidden;
  }
  .hero_navigation_nav ul.d-show {
    flex-direction: column;
  }
  .hero_image img {
    width: 100%;
  }
  .blue {
    font-size: 30px;
  }
  .blue_small {
    font-size: 25px;
  }
  .work {
    height: 135vh;
  }
  .work-grid-temp {
    top: 10%;
  }
  .pricing {
    top: 25rem;
    height: 190vh;
  }
  .pricing_text {
    padding-top: 100px;
  }
  .grid-3 {
    flex-wrap: wrap;
  }
  .box img {
    width: 35%;
    height: auto;
  }
  .grid-3 {
    flex-direction: column;
  }
  .grid-3 .box {
    margin-bottom: 100px;
  }
  .last {
    top: 50rem;
  }
  .last img {
    width: 20%;
  }
  footer {
    top: 50rem;
  }
}
@media (max-width: 670px) {
  .last .last_text {
    width: 80%;
  }
  .last {
    top: 30rem;
  }
  .last img {
    width: 40%;
    left: -92px;
    top: 40px;
  }
  .work {
    height: 115vh;
  }
  .work-grid-temp {
    top: 11%;
  }
  .box img {
    width: 30%;
  }

  .pricing {
    height: auto;
    top: 12rem;
  }
  .last {
    top: 94rem;
  }
  footer {
    top: 94rem;
  }
  .last img {
    display: none;
  }
}
@media (max-width: 500px) {
  .hero_text {
    background: rgba(253, 253, 245, 0.789);
    padding: 20px 40px;
    left: 0;
    transform: translate(0%, -50%);
    width: 100%;
  }
  .hero_image {
    width: 100%;
  }
  .blue {
    font-size: 25px;
  }
  .blue_small {
    font-size: 20px;
  }
  .work-grid-temp {
    box-shadow: none;
    width: 100%;
  }
  .grid-3 {
    padding: 20px;
  }
  .work {
    height: 100vh;
  }
  .work-grid-temp {
    top: 10%;
  }
  .pricing {
    top: 30rem;
  }
  .last {
    top: 106rem;
  }
  .last .last_text {
    width: 98%;
  }
  footer {
    top: 106rem;
  }
}
@media (max-width: 320px) {
  .hero_text {
    padding: 0 10px;
    text-align: center;
    top: 75%;
  }
  .work-grid-temp {
    top: 16%;
  }
  .box img {
    width: 100%;
    height: auto;
  }
  .pricing {
    top: 55rem;
  }
  .last {
    top: 158rem;
  }
  footer {
    top: 158rem;
  }
  footer .flex {
    flex-direction: column;
    align-items: flex-start;
  }
}
