*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins',sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
position: relative;
padding:  0 5%;
display: flex;
align-items: center;
justify-content: center;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 80px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}.content{
    text-align: center;
}
.content h1{
    font-size: 160px;
    font-weight: 600;
    color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px #ffff;
    color: transparent;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 24px;
    border: 2px solid #ffff;
    padding: 14px 70px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
margin-top: 20px;
}
.back-video{
    position: absolute;
    right: 0;
bottom: 0;
z-index: -1;
}
@media (min-aspect-ratio:16/9) {
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9) {
    .back-video{
        width: auto;
        height: 100%;
    }
}
.container{
    width: 100%;
    height: 100vh;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills h2{
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: #ffff;
    font-size: 16px;
}
.progress-bar{
    background: #959595;
    width: 600px;
    height:10px;
    border-radius: 5px;
}
.progress-bar div{
    height: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 0%;
}
.progress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #222;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.html{
    background: #e91e63;
    animation: html 1s linear forwards;
    -webkit-animation: html 1s linear forwards;
}
.css{
    background: #627cb4;
    animation: css 1s linear forwards;
    -webkit-animation: css 1s linear forwards;
}
.js{
    background: #69e91e;
    animation: js 1s linear forwards;
    -webkit-animation: js 1s linear forwards;
}
.react{
    background: #8f633b;
    animation: react 1s linear forwards;
    -webkit-animation: react 1s linear forwards;
}
.html span{
    border: 1px solid #e91e63;
}
.css span{
    border:1px solid #627cb4;
}
.js span{
    border:1px solid #69e91e;
}
.react span{
    border:1px solid #8f633b;
}
@keyframes html{
    100%{
        width: 86%;
    }
}
@keyframes css{
    100%{
        width: 76%;
    }
}
@keyframes js{
    100%{
        width: 66%;
    }
}
@keyframes react{
    100%{
        width: 86%;
    }
}