:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #04152d;

  /* Fonts */
  --font-roboto: "Roboto";
}
.app {
  background: var(--color-bg);
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}
